  {{#if index.personName}}

          <div class="alert success">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
         <h3>Thanks {{ index.personName }} for your interest to Join Us</h3>
      </div>

    {{/if}}

    {{#if index.error}}

          <div class="alert success">
     <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
         <h3>Sorry !{{ index.error }} Error occured.Please Apply again</h3>
      </div>

    {{/if}}
<section id="main-page">

 


<div style="width: 100%;">

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/bd">
 <div class="flipper" >
    <div class="front">
       <input type="radio" onclick="javascript:check();" id="control_07" name="select" value="1" >
    
      <label for="control_07">
       <i class="fa fa-briefcase fa-4x" aria-hidden="true"></i>
         <h2>Business Development</h2>
       </label>
    </div>
  <div class="back" >
  
  <label for="control_01">
    <p>Your role in business development is to find new strategic opportunities for the company and start the company on the path to execute (incubation).
  It is not uncommon for business developers to have a combination of strategy, marketing & sales, finance, legal, and operations background.</p>
  </label>
  </div>
  </div>
  </a>
</div>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/marketing">
 <div class="flipper">
    <div class="front">
       <input type="radio" id="control_02" name="select" value="2" >
    
      <label for="control_02">
          <i class="fa fa-line-chart fa-4x" aria-hidden="true"></i>
         <h2>Marketing Department</h2>
       </label>
    </div>
  <div class="back" >
  <label for="control_08">
    <p>Your role in Marketing is to promote the selling products or services, including market research and advertising.
  You'll gain the expertise in Digital Marketing,Social Media and Print media marketing.</p>
  </label>
  </div>
  </div>
  </a>
</div>


<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/rd">
 <div class="flipper">
    <div class="front">
       <input type="radio" id="control_03" name="select" value="3" >
    
      <label for="control_03">
       <i class="fa fa-flask fa-4x" aria-hidden="true"></i>
         <h2>Research and Developement</h2>
       </label>
    </div>
  <div class="back" >
  <label for="control_09">
     <p> Your role in Research and Development to innovate and introduction of improvement in products and processes like in Composting,Plastic Recycling,BioGas,Landfill Site,ArcGIS and other ToWaSo products,which also improves your creative abilities and finding the solutions of critical problems.</p>
  </label>
  </div>
  </div>
</div>
</a>
</div>





<div style="width: 100%;">



<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/embedded">
<div class="flipper">
    <div class="front">
       
    
      <label for="control_04">
      <i class="fa fa-usb fa-4x" aria-hidden="true"></i>
         <h2>Embedded System</h2>
          </label>
  </div>
  
  <div class="back" >
  <label for="control_10">
    <p>Your role in Embedded Team is to work on Micro-Controllers and make devices like GPS Tracker. Team Embedded also covers the automation and robotics part of ToWaso , so if you have knowledge of robotics and want to sum up with us then join Team Embedded.We're here to rock with you.</p>
  </label>
  </div>
 
  </div>
</div>
 </a>

<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/web">
<div class="flipper">
    <div class="front">
       <input type="radio" id="control_05" name="select" value="5" >
    
      <label for="control_05">
       <i class="fa fa-globe fa-4x" aria-hidden="true"></i>
         <h2>Web Development</h2>
          </label>
  </div>
  <div class="back" >
  <label for="control_12">
    <p> Your role in Web Development team is to work on the ToWaSo official website and improve its user interface and make it more useful.
You will have to do database management using firebase, which also improves your overall skill of web development by collaborating with same interest people.</p>
  </label></div>
  </div>
  </a>
</div>



<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
<a href="/app">
 <div class="flipper">
    <div class="front">
       <input type="radio" id="control_06" name="select" value="6" >
    
      <label for="control_06">
       <i class="fa fa-android fa-4x" aria-hidden="true"></i>
         <h2>App Develpment</h2>
       </label>
    </div>
  <div class="back" >
  <label for="control_13">
     <p>Your role in App Development team is to develop an app in Android Studio for ToWaSo to do common task like keeping customer records,payments and also track the vehicle.
 You will be in a team of app developers who will share a common platform with you to learn new things.</p>
  </label>
  </div>
  </div>
</div>
 </a>
</div>


</section>