<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Application</title>
  <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
 <script src="/__/firebase/4.2.0/firebase-app.js"></script>
    <script src="/__/firebase/4.2.0/firebase-auth.js"></script>
    <script src="/__/firebase/4.2.0/firebase-database.js"></script>
    <script src="/__/firebase/4.2.0/firebase-messaging.js"></script>

    <!-- Leave out Storage -->
    <script src="/__/firebase/4.2.0/firebase-storage.js"></script> 

    <script src="/__/firebase/init.js"></script>

 
      <link rel="stylesheet" href="css/style.css">
    
      <link rel="stylesheet" type="text/css" href="css/form-basic.css">
     <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">

</head>

<body>
   

  <div class="header" >
  <a href="/">
    <img alt="LOGO" class="img-zoom logo " src="images/logo.png"
      style=" float:left;width: 65px; height: 55px;" />

    <div class="main-heading" style="text-align: center;">
          <span  >&nbsp <b>TOWASO PVT LTD </b></span> <br>
          <span  >&nbsp <b>CAREER</b></span> 
          </div>
          </a>
  </div>


{{{body}}}
         

  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type="text/javascript" src="javascript/jquery.validate.js"></script>
  <script type="text/javascript" src="javascript/basic.js"></script>
</body>
</html>
